<%- include('header'); -%>

		<main class="row">
			<nav class="col-2">
				<ul>
					<li><a href="index.html">Main Page</a></li>
					<li><a href="contact.html">Contact Me</a></li>
					<li><a href="about.html">About Me</a></li>
				</ul>
			</nav>
			<section class="col-8">
				<article>
					<h2 class="artitle"><%- title %></h2>
					<p><%- text %></p>
				</article>
			</section>
		</main>

<%- include('footer'); -%>