<%- include('header'); -%>

		<main class="row">
			<nav class="col-2">
				<ul>
					<li><a href="contact.html">Contact Me</a></li>
					<li><a href="about.html">About Me</a></li>
				</ul>
			</nav>
			<section class="col-8">
				<article>
					<div class="artitle">
						<h2>Random Words!</h2>
						<h6>By Tom Hollis</h6>
					</div>
					<p>Look at all the random text I found. It's probably an ancient mystery.<p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus, nibh in mollis sollicitudin, dolor massa porttitor mi, quis lacinia libero ante at ipsum. Donec vitae dictum neque. Mauris ligula felis, molestie vel sollicitudin vitae, egestas sit amet velit. In pharetra augue nulla. Mauris tincidunt augue a dignissim blandit. Sed pulvinar elit at porttitor cursus. Donec eu sapien id arcu gravida faucibus sit amet nec felis.</p>
					<p>Nulla neque elit, ullamcorper in ligula at, luctus laoreet est. Integer tincidunt mi ligula, at dapibus ligula dapibus quis. Ut vitae tortor efficitur, congue nunc ut, commodo urna. Nullam vitae justo faucibus, porta ligula vel, consectetur dolor. Maecenas laoreet tortor vitae efficitur blandit. Pellentesque sit amet facilisis purus. Duis sodales fringilla egestas. Suspendisse malesuada, quam et venenatis ullamcorper, nibh nisi tempus tellus, nec mollis justo ex ac risus. In hac habitasse platea dictumst.</p>	
					<p>Pellentesque rutrum massa quis tortor suscipit, et pulvinar est sollicitudin. Morbi libero lorem, consequat ac tempus at, volutpat aliquet diam. Aliquam erat volutpat. Etiam dapibus volutpat dapibus. Nam vel sem nec tellus condimentum euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse dapibus et leo eu iaculis. Proin ipsum odio, lobortis at suscipit at, dictum at dolor. Vestibulum congue laoreet elit in rutrum. Phasellus rhoncus efficitur lorem, vitae malesuada neque suscipit ut. Maecenas vitae dui eget massa sollicitudin vestibulum ut id libero. Nullam in metus sit amet mauris condimentum lobortis. In ac sollicitudin nibh.</p>	
					<p>Maecenas blandit venenatis mattis. Phasellus volutpat blandit turpis, eget dapibus erat volutpat a. Nam sem ipsum, cursus eget nulla vitae, placerat luctus nisl. Quisque mollis quam ut orci interdum, et auctor odio fermentum. Fusce ac ornare metus. Mauris eu nibh quis libero facilisis mattis. Nulla facilisi. Sed congue ex nec enim efficitur, vitae sodales diam congue. Mauris rutrum velit vel sem malesuada, ut auctor mauris luctus. Vivamus eget ante ut felis gravida feugiat a a quam. Duis volutpat mattis erat et consequat. Praesent nec viverra elit. Quisque efficitur massa non mauris ornare efficitur quis non eros. Praesent molestie auctor nibh quis ultrices.</p>	
					<p>Integer et eros efficitur ex ultrices auctor. Praesent bibendum mollis lorem, ac tincidunt diam gravida sit amet. Sed tellus est, dictum eget dapibus non, laoreet quis elit. Nunc quis magna vehicula, dapibus quam et, facilisis sem. Quisque et metus luctus, lacinia risus in, mattis est. Sed non lobortis ligula. Duis id volutpat enim. Aenean dictum porttitor mi, id ornare mi facilisis ac. Ut enim metus, posuere eu sapien eget, facilisis rutrum mi. Suspendisse quam risus, blandit eget arcu sit amet, porttitor mattis dui. Donec ante tellus, congue id nisi at, aliquet egestas nisi. Pellentesque non arcu sollicitudin est rutrum sagittis. Suspendisse viverra lectus dui, quis aliquet tortor vehicula sed. Sed nec arcu lacus.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus, nibh in mollis sollicitudin, dolor massa porttitor mi, quis lacinia libero ante at ipsum. Donec vitae dictum neque. Mauris ligula felis, molestie vel sollicitudin vitae, egestas sit amet velit. In pharetra augue nulla. Mauris tincidunt augue a dignissim blandit. Sed pulvinar elit at porttitor cursus. Donec eu sapien id arcu gravida faucibus sit amet nec felis.</p>
					<p>Nulla neque elit, ullamcorper in ligula at, luctus laoreet est. Integer tincidunt mi ligula, at dapibus ligula dapibus quis. Ut vitae tortor efficitur, congue nunc ut, commodo urna. Nullam vitae justo faucibus, porta ligula vel, consectetur dolor. Maecenas laoreet tortor vitae efficitur blandit. Pellentesque sit amet facilisis purus. Duis sodales fringilla egestas. Suspendisse malesuada, quam et venenatis ullamcorper, nibh nisi tempus tellus, nec mollis justo ex ac risus. In hac habitasse platea dictumst.</p>	
					<p>Pellentesque rutrum massa quis tortor suscipit, et pulvinar est sollicitudin. Morbi libero lorem, consequat ac tempus at, volutpat aliquet diam. Aliquam erat volutpat. Etiam dapibus volutpat dapibus. Nam vel sem nec tellus condimentum euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse dapibus et leo eu iaculis. Proin ipsum odio, lobortis at suscipit at, dictum at dolor. Vestibulum congue laoreet elit in rutrum. Phasellus rhoncus efficitur lorem, vitae malesuada neque suscipit ut. Maecenas vitae dui eget massa sollicitudin vestibulum ut id libero. Nullam in metus sit amet mauris condimentum lobortis. In ac sollicitudin nibh.</p>	
					<p>Maecenas blandit venenatis mattis. Phasellus volutpat blandit turpis, eget dapibus erat volutpat a. Nam sem ipsum, cursus eget nulla vitae, placerat luctus nisl. Quisque mollis quam ut orci interdum, et auctor odio fermentum. Fusce ac ornare metus. Mauris eu nibh quis libero facilisis mattis. Nulla facilisi. Sed congue ex nec enim efficitur, vitae sodales diam congue. Mauris rutrum velit vel sem malesuada, ut auctor mauris luctus. Vivamus eget ante ut felis gravida feugiat a a quam. Duis volutpat mattis erat et consequat. Praesent nec viverra elit. Quisque efficitur massa non mauris ornare efficitur quis non eros. Praesent molestie auctor nibh quis ultrices.</p>	
				</article>
			</section>
			<aside class="col-2">
			</aside>
		</main>

<%- include('footer'); -%>